<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras/springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.admin}">ADMIN PAGE</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<!-- Include the header fragment -->
<div th:insert="~{fragments/header :: body}">
    <th:block th:with="infoMessage=#{admin.page.info.message}"></th:block>
</div>

<!-- Display infoMessage if present -->
<div th:if="${infoMessage != null}" class="alert alert-info">
    <p th:text="${infoMessage}"></p>
</div>

<h1 th:text="#{page.heading.admin}">Welcome to the ADMIN Page</h1>

<p th:text="#{page.label.roles}">Current User Roles:</p>
<p th:each="authority : ${#authentication.getAuthorities()}">
    <span th:text="${authority.getAuthority().replace('ROLE_', '')}"></span>
</p>

<div class="form-container">

    <!-- Button to update contractors -->
    <form th:action="@{/admin/contractors}" method="post">
        <button type="submit" th:text="#{button.updateContractors}">Update Contractors from Google Sheets</button>
    </form>


    <!-- Button to update regions -->
    <form th:action="@{/admin/groups}" method="post">
        <button type="submit" th:text="#{button.updateGroups}">Update Groups from Google Sheets</button>
    </form>

    <!-- Button to update regions -->
    <form th:action="@{/admin/regions}" method="post">
        <button type="submit" th:text="#{button.updateRegions}">Update Regions from Google Sheets</button>
    </form>

    <!-- Button to group description -->
    <form th:action="@{/admin/groups/descriptions}" method="post">
        <button type="submit" th:text="#{button.Description}">Update Group Descriptions from Google Sheets</button>
    </form>

    <!-- Button to group places -->
    <form th:action="@{/admin/places}" method="post">
        <button type="submit" th:text="#{button.Places}">Update Places from Google Sheets</button>
    </form>

    <!-- Button to group places -->
    <form th:action="@{/admin/ranks}" method="post">
        <button type="submit" th:text="#{button.Ranks}">Update Ranks from Google Sheets</button>
    </form>

    <!-- Button to group places -->
    <form th:action="@{/admin/positions}" method="post">
        <button type="submit" th:text="#{button.Positions}">Update Positions from Google Sheets</button>
    </form>

    <!-- Button to group places -->
    <form th:action="@{/admin/units}" method="post">
        <button type="submit" th:text="#{button.Units}">Update Units from Google Sheets</button>
    </form>

    <div>
        <p>
            🔗 Перевірте <a href="https://docs.google.com/spreadsheets/d/1z78PLdhrabCpJR1fQfCW28d9FOE8B8YHvgq-aStBkss/edit?gid=197991214#gid=197991214"
                           target="_blank"
                           rel="noopener noreferrer">таблицю звітів у Google Sheets</a> перед поданням.
        </p>
    </div>

    <div>
        <p>
            🔗 Перевірте <a href="https://docs.google.com/spreadsheets/d/1LkkLuk7y_fB8BTa-T4kYPYTgT-cVhIIgJTlZyo2b0UA/edit?gid=1453816151#gid=1453816151"
                           target="_blank"
                           rel="noopener noreferrer">таблицю ШПС у Google Sheets</a> перед поданням.
        </p>
    </div>


</div>


</body>
</html>
